/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
    /*    delete on submission*/
    /*    border: 1px solid black;*/
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    text-align: center;
    background-color: #d4dee6;
}

.max-content-width,
.header-max-content-width {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.max-content-width {
    width: 95%;
}

.header-max-content-width {
    width: 100%;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-size: 1.2rem;
}

label,
h4 {
    font-size: 1rem;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
header .heading {
    color: #281e1a;
    font-size: 2rem;
    padding: 1rem;
}

.main-site-image {
    background-image: url("Alice_Ramsey_ggbain.03065.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    background-position: center center;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.intro,
.intro-text {
    padding: 1rem 0;
}

.intro h2 {
    color: #a1212c;
}

.start-button,
.try-again {
    padding: .25rem 1.25rem;
    font-family: "Kelson Sans", sans-serif;
    color: #281e1a;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 3px;
    background-color: #c59344;
    box-shadow: 3px 1px 5px grey;
}

.start-button {
    margin-top: 2rem;
}


/* *****styles for quiz section***** */

#quiz-container {
    background-color: white;
}

.quiz,
.results-section {
    padding: 15px;
    color: #281e1a;
}

.question-wrapper,
.quiz .answers-wrapper,
.results-section .results-question,
.results-section .results-answer,
.reference-section p {
    text-align: left;
}

.question-wrapper,
.quiz .answers-wrapper {
    width: 85%;
    margin: 0.5rem auto;
}

.question-wrapper {
    margin: 0 auto;
}

.quiz .answers-wrapper .column {
    display: inline-block;
    width: 88%;
    vertical-align: top;
}

.quiz .answers-wrapper .column-radio {
    width: 10%;
    text-align: center;
    padding-top: .65rem;
}

.quiz label,
.quiz input {
    display: block;
}

.quiz label {
    letter-spacing: 1px;
    padding: .5rem 0;
}

.quiz input[type="radio"],
.quiz input[type="radio"] + label {
    display: inline-block;
    width: auto;
    margin-right: .5rem;
}

.column-radio {
    transform: scale(1.25);
}

.quiz .current-question {
    padding-top: 15px;
    border-top: 2px solid #c59344;
}


/* *****styles for results section***** */
.results-section #final-score {
    margin-top: .25rem;
    margin-bottom: 1rem;
}

.results-section .results-question,
.results-section .results-answer {
    letter-spacing: .5px;
}

.results-section .results-question {
    margin-bottom: 10px;
}

.results-section .results-answer {
    margin-bottom: 30px;
    font-size: .9rem;
}


/* *****styles for reference section***** */
.reference-section {
    margin-top: 1.75rem;
}

.reference-section p {
    font-size: 1rem;
    margin-bottom: 5px;
    word-wrap: break-word;
}

#reference-title {
    padding-bottom: 1rem;
}



/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    padding: 5rem;
}

footer p,
footer a:hover {
    font-size: 1rem;
    color: #a1212c;
    font-weight: bold;
}

footer a {
    color: #281e1a;
}

#app-author,
#contact-info-ul,
.contact-info {
    display: inline-block;
    padding: .25rem;
}

#contact-info-ul {
        vertical-align: middle;
}


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
}


/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    header .heading {
        padding: 1rem 0;
    }

    .main-site-image {
        height: 28rem
    }

    .intro h2 {
        font-size: 2.5rem;
    }

    .intro p,
    .start-button,
    .try-again,
    .results-section h3,
    #reference-title h4 {
        font-size: 1.75rem;
    }

    .question-wrapper h3,
    .current-question,
    h4 {
        font-size: 1.5rem;
    }

    label {
        font-size: 1.3rem;
    }

    .column-radio {
        transform: scale(1.75);
    }

    .column {
        padding-top: .3rem;
    }

    .results-section .results-answer,
    #reference-content p,
    footer p,
    footer a,
    footer a:hover {
        font-size: 1.25rem;
    }
}


/*ipad potrait*/

@media only screen and (min-width: 768px) {
    .header-max-content-width {
        width: 95%;
        margin: 0 auto;
    }

    header #title,
    .main-site-image {
        width: 45%;
    }

    header {
        height: 24rem;
    }

    header #title {
        text-align: left;
        padding-top: 3rem;
    }

    header #title,
    .main-site-image {
        display: inline-block;
        width: 40%;
    }

    header #title{
        width: 49%;
    }

    .main-site-image {
        width: 49%;
    }

    .main-site-image {
        height: 20rem;
        margin: 2rem 0;
        vertical-align: middle;
        float: right;
    }

    .question-wrapper h3 {
        font-size: 2.25rem;
    }

    label {
        font-size: 2rem;
    }

    .results-section {
        font-size: 1.75rem;
    }


    .intro p,
    .results-section h3,
    #reference-title h4 {
        font-size: 2rem;
    }

    .start-button,
    .try-again {
        font-size: 2rem;
        padding: .5rem 2rem
    }

    .question-wrapper h3,
    .current-question,
    h4 {
        font-size: 1.75rem;
    }
    .results-section .results-answer,
    #reference-content p {
        font-size: 1.5rem;
    }

    footer p,
    footer a
    footer a:hover {
        font-size: 1.25rem;
    }
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {

    header {
        height: 33rem;
    }

    header .heading {
        font-size: 3rem;
    }

    .main-site-image {
        height: 29rem;
    }
}
